@page "/"
@using Desktop.AI.App.Pages.Chat.Components

<div class="chat-container">
   
    <ConversationContext SearchModel="@_searchModel" IsVisible="@_isConverstionContextVisible"></ConversationContext>

    <div class="chat">
        <CollapseButton IsOpen="@_isConverstionContextVisible" OnClicked="OnHideSidePanelClicked"></CollapseButton>
        <ConversationView Conversation="_conversation"></ConversationView>
        
        <div class="input-area">
            <LoadingIndicator IsBusy="@_isBusy" StatusText="@_statusText"></LoadingIndicator>

            <ErrorIndicator ErrorText="@_errorText"></ErrorIndicator>

            <SpeechToTextDisplay IsRecording="@_isRecording"
                                 Text="@_voiceRecordingPartial"
                                 OnStopRecordingClicked="OnStopRecordingClicked" />

            <ChatInput 
                SearchModel="@_searchModel"
                OnGenerateTextCompletionSubmitted="Search" 
                IsBusy="@_isBusy"
                OnGenerateImageClicked="GenerateImage"
                OnRecordClicked="OnRecordClicked"
                IsRecording="@_isRecording" />
        </div>
    </div>

</div>

